mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(4, 125, 69, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(4, 125, 69, 0.05);

}

mat-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
