<div class="sign--container">
  <form [formGroup]="myForm" class="sign--form">
    <mat-form-field appearance="fill">
      <mat-label>Plate</mat-label>
      <input matInput formControlName="plate" />
      <mat-error *ngIf="plate?.errors && plate?.touched"
        >"Type a plate following pattern AAA-000"</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Brand</mat-label>
      <input matInput formControlName="brand" />
      <mat-error *ngIf="brand?.errors && brand?.touched"
        >"Type a brand"</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" />
      <mat-error *ngIf="model?.errors && model?.touched"
        >"Type a model"</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Color</mat-label>
      <input matInput formControlName="color" />
      <mat-error *ngIf="color?.errors && color?.touched"
        >"Type vehicle color"</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Vehicle type</mat-label>
      <!-- <input matInput formControlName="type" /> -->
      <mat-select [(value)]="selectedOption" formControlName="type">
        <mat-option value="TRUCK">Truck</mat-option>
        <mat-option value="TRAILER">Trailer</mat-option>
        <mat-option value="VAN">Van</mat-option>
        <mat-option value="CAR">Car</mat-option>
        <mat-option value="PICKUP">Pickup</mat-option>
      </mat-select>
      <mat-error *ngIf="type?.errors && type?.touched"
        >"Choose a vehicle type"</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Capacity (Kg)</mat-label>
      <input type="number" matInput formControlName="totalCapacity" />
      <mat-error *ngIf="totalCapacity?.errors && totalCapacity?.touched"
        >"Provide us vehicle capacity"</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="this.myForm.getRawValue()"
      [disabled]="this.myForm.invalid"
    >
      Edit Vehicle
    </button>
  </form>
</div>
