<div class="quote--container">
  <h1>Quote your shipment</h1>
  <div class="quote--information">
    <form [formGroup]="quoteForm" (change)="sendInfo()" class="quote--form">
        
      <mat-form-field appearence="fill">
        <mat-label>Origin Address</mat-label>
        <input matInput formControlName="origin" />      
      </mat-form-field>
  
      <mat-form-field appearence="fill">
        <mat-label>Destination Address</mat-label>
        <input matInput formControlName="destination" />      
      </mat-form-field>
  
      <mat-form-field appearence="fill">
        <mat-label>Weight (in Kg)</mat-label>
        <input matInput formControlName="weight"/>      
      </mat-form-field>
  
      <mat-form-field appearence="fill">
        <mat-label>Time (in minutes)</mat-label>
        <input matInput formControlName="time" />      
      </mat-form-field>    
    </form>
    <div class="quote--cost" *ngIf="cost.length>2">
      <h2>
        The cost would be:
      </h2>
      <p *ngIf="cost"> $ {{ cost }}</p>
      <button mat-raised-button class="button-primary" routerLink="/delivery-request">Send a package</button>
    </div>
  </div>
  
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="calculate()">Calculate</button>
  </div>
</div>
