<div class="dashboard--container">
  <div class="user--container">
    <app-driver-information [driver]="driver"></app-driver-information>
    <app-vehicle-information [driver]="driver"></app-vehicle-information>
  </div>
  <div class="orders--container">
    <h2>Incomming orders</h2>
    <div class="incomming--container">
      <div class="incomming--orders">
        <div *ngFor="let item of pendingShippingOrders">
          <app-order-information
            [shippingOrder]="item"
            [driver]="driver"            
            (shippingOrderAccepted)="onShippingOrderAccepted($event)"
            (shippingOrderRejected)="onShippingOrderRejected($event)"
          ></app-order-information>
        </div>
        <p *ngIf="pendingShippingOrders.length == 0">
          There's no incomming orders
        </p>
      </div>
    </div>
      <h2>Accepted orders</h2>
      <div class="incomming--container">
        <div class="incomming--orders">
          <div *ngFor="let item of acceptedShippingOrders">
            <app-order-information
              [shippingOrder]="item"
              (shippingOrderDelivered)="onShippingOrderDelivered($event)"
            ></app-order-information>
          </div>
          <p *ngIf="acceptedShippingOrders.length == 0">
            There's no accepted orders
          </p>
        </div>
      </div>
  </div>
</div>
